[submodule "GoL"]
	path = GoL
	url = https://github.com/safarzadehsbeengood/GOL.git
[submodule "fractalTrees"]
	path = fractalTrees
	url = git@github.com:safarzadehsbeengood/fractalTrees.git
[submodule "ulamspiral"]
	path = ulamspiral
	url = git@github.com:safarzadehsbeengood/ulamspiral.git
[submodule "astar"]
	path = astar
	url = git@github.com:safarzadehsbeengood/astar.git
