[submodule "GoL"]
	path = GoL
	url = https://github.com/safarzadehsbeengood/GOL.git
[submodule "fractalTrees"]
	path = fractalTrees
	url = git@github.com:safarzadehsbeengood/fractalTrees.git
[submodule "ulamspiral"]
	path = ulamspiral
	url = git@github.com:safarzadehsbeengood/ulamspiral.git
[submodule "astar"]
	path = astar
	url = git@github.com:safarzadehsbeengood/astar.git
[submodule "boids"]
	path = boids
	url = git@github.com:safarzadehsbeengood/boids.git
[submodule "asteroids"]
	path = asteroids
	url = git@github.com:safarzadehsbeengood/asteroids.git
[submodule "linearRegression"]
	path = linearRegression
	url = git@github.com:safarzadehsbeengood/linearRegression.git
[submodule "bubbleSortVisualization"]
	path = sortingVisualization
	url = git@github.com:safarzadehsbeengood/sortingVisualization.git
[submodule "fourier"]
	path = fourier
	url = git@github.com:safarzadehsbeengood/fourier.git
[submodule "2draycasting"]
	path = 2draycasting
	url = git@github.com:safarzadehsbeengood/2draycasting.git
[submodule "marchingSquares"]
	path = marchingSquares
	url = git@github.com:safarzadehsbeengood/marchingSquares.git
[submodule "polynomialRegression"]
	path = polynomialRegression
	url = git@github.com:safarzadehsbeengood/polynomialRegression.git
[submodule "cardioidTT"]
	path = cardioidTT
	url = git@github.com:safarzadehsbeengood/cardioidTT.git
[submodule "mazeGeneration"]
	path = mazeGeneration
	url = git@github.com:safarzadehsbeengood/mazeGeneration.git
[submodule "cellularAutomata"]
	path = cellularAutomata
	url = git@github.com:safarzadehsbeengood/cellularAutomata.git
