@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.space {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  background: rgb(11, 7, 7);
  overflow: hidden;
}

.solar-system {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(11, 7, 7);
  overflow: hidden;
}

.orbit {
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: white;
}

.orbit::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translateX(-50%);
  top: -12px;
  left: 50%;
  border-radius: 50%;
  background: var(--col);
  box-shadow: 0 0 20px var(--col),
    0 0 60px var(--col);
}

.sun {
  width: 50px;
  height: 50px;
  background: yellow;
  border-radius: 50%;
  box-shadow: 0 0 20px yellow,
    0 0 60px rgb(255, 81, 0);
}

.mercury {
  width: 130px;
  height: 130px;
  animation: rotating-anim 4s linear infinite;
}

.venus {
  width: 175px;
  height: 175px;
  animation: rotating-anim 10s linear infinite;
}

.earth {
  width: 230px;
  height: 230px;
  animation: rotating-anim 12s linear infinite;
}

.mars {
  width: 295px;
  height: 295px;
  animation: rotating-anim 18s linear infinite;
}

.jupiter {
  width: 375px;
  height: 375px;
  animation: rotating-anim 38s linear infinite;
}

.saturn {
  width: 455px;
  height: 455px;
  animation: rotating-anim 50s linear infinite;
}

.uranus {
  width: 535px;
  height: 535px;
  animation: rotating-anim 60s linear infinite;
}

.neptune {
  width: 635px;
  height: 635px;
  animation: rotating-anim 140s linear infinite;
}

@keyframes rotating-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  .venus {
    width: 185px;
    height: 185px;
  }

  .mars {
    width: 275px;
    height: 275px;
  }

  .jupiter {
    width: 335px;
    height: 335px;
  }

  .saturn {
    width: 380px;
    height: 380px;
  }

  .uranus {
    width: 425px;
    height: 425px;
  }

  .neptune {
    width: 485px;
    height: 485px;
  }
}

@keyframes cursorBlink {

  0%,
  100% {
    border-right: 2px solid transparent;
    /* Hide cursor */
  }

  50% {
    border-right: 2px solid #c4c4c4;
    /* Show cursor */
  }
}

body {
  margin: 0;
  font-family: "Space Mono", monospace;
  overflow: hidden;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 13ch;
  }
}

.title {
  padding: 3px;
  position: absolute;
  font-size: 2em;
  margin: 0px;
  top: 3vh;
  z-index: 1;
  color: white;
  display: flex;
  width: 14ch;
  height: 5ch;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #c4c4c4;
  /* Cursor effect */
  animation: typing 1.5s steps(100, end), cursorBlink 1s steps(1) infinite;
}

.cube-container {
  perspective: 1200px;
  position: relative;
  display: flex;
  margin-left: 1ch;
  align-items: center;
  justify-content: center;
  height: 2ch;
  z-index: 1;
  width: 2ch;
  transition: transform 0.3s ease-in-out;
}

.cube {
  width: 1.5ch;
  height: 1.5ch;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 10s linear infinite;
  z-index: 1;
  /* Ensure the cube is on top of the background */
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.face {
  position: absolute;
  border: 1px solid white;
  background-color: rgb(0, 0, 0);
  width: 1.5ch;
  height: 1.5ch;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

/* Add space-like background */
.space-background {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* Allow clicks to pass through */
  overflow: hidden;
  /* Hide overflow for seamless effect */
}

/* Add animated dots for the space background */
.space-dot {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  animation: shine 1s infinite;
  /*move 15s linear infinite; Added shine animation */
}

@keyframes shine {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.7;
  }
}

.fa-github-alt {
  color: white;
  transition: transform 0.3s ease-in-out;
}

.face-gh-icon {
  font-size: 50%;
}

.cube-container:hover {
  transform: scale(1.4);
}