@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

@keyframes cursorBlink {

  0%,
  100% {
    border-right: 2px solid transparent;
    /* Hide cursor */
  }

  50% {
    border-right: 2px solid #c4c4c4;
    /* Show cursor */
  }
}

body {
  margin: 0;
  font-family: "Space Mono", monospace;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title-and-cube {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
}

.orbit {
  position: absolute;
  width: 100%;
  height: 0;
  padding-top: 30vh;
  -webkit-animation: spin-right 40s linear infinite;
  animation: spin-right 90s linear infinite;
  border-radius: 100%;
}

.ufo {
  position: absolute;
  top: -30px;
  left: 47%;
}

.ufo img {
  height: 5vh;
  width: 5vh;
  /* transform: rotate(45deg); <- for rocket.png */
}



@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.title {
  padding: 3px;
  position: absolute;
  font-size: 2em;
  width: 12ch;
  margin: 0px;
  top: 0vh;
  z-index: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #c4c4c4;
  /* Cursor effect */
  animation: typing 1.5s steps(100, end), cursorBlink 1s steps(1) infinite;
}

.cube-container {
  perspective: 1200px;
}

.cube {
  width: 10vh;
  height: 10vh;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 10s linear infinite;
  z-index: 1;
  /* Ensure the cube is on top of the background */
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.face {
  position: absolute;
  border: 1px solid black;
  background-color: rgb(255, 134, 154);
  width: 10vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

/* Add space-like background */
.space-background {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* Allow clicks to pass through */
  overflow: hidden;
  /* Hide overflow for seamless effect */
}

/* Add animated dots for the space background */
.space-dot {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  animation: shine 1s infinite;
  /*move 15s linear infinite; Added shine animation */
}

@keyframes shine {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.7;
  }
}

.fa-github-alt {
  color: white;
  transition: transform 0.3s ease-in-out;
}

.fa-github-alt:hover {
  transform: scale(1.2);
}

.face-gh-icon {
  color: black;
  font-size: 2em;
}

@media screen and (max-width: 768px) {
  .title {
    top: 30px;
  }
}